
# State folder for all neurons.
# TODO(const) This folder should be set with a var.
**/data/*
!data/.gitkeep

**/__pycache__/
**/.ipynb_checkpoints/
*.pyc

#compiled c++ files
**/*.o

#compiled contract files
**/*.abi
**/*.wasm
**/*.wast

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
